All Flow Files/CD-2622-Bad1-FlowInteractionNaming.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_01</name>
        <label>ACTT_</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>CollaborationGroup.NewGroupMember</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>SUB_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>MemberId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Decision_Maker.ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>APEX_ACT1</name>
        <label>APEX-</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EA_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>EA02</name>
        <label>EA_02</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Create_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EA_1</name>
        <label>EA_1</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Account.new_record_created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ACT_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Decision_Maker.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>oppClosedAlert</name>
        <label>EA_oppClosedAlert</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <actionName>Opportunity.opportunity_closed_won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EA02</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>APEX_ACT1.lat</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get Decision Maker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow-Up with Decision Maker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>APEX_ACT1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>100000.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>SUB_01</name>
        <label>SUB_Convert_to_Customer_Fysh</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>oppClosedAlert</targetReference>
        </connector>
        <flowName>Convert_to_Customer</flowName>
    </subflows>
</Flow>