All Flow Files/CD-2618-bad-FaultPathsInFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apex1</name>
        <label>apex1</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sub_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>apex1.lat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Organization.Latitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s4</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cons</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec1</name>
        <label>dec1</label>
        <locationX>490</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>sa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>s002</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s12</targetReference>
            </connector>
            <label>out1</label>
        </rules>
        <rules>
            <name>out2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>apex1.lat</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub2</targetReference>
            </connector>
            <label>out2</label>
        </rules>
        <rules>
            <name>out3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>out1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop1</targetReference>
            </connector>
            <label>out3</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec2</name>
        <label>dec2</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>s3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decout1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>out1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s3</targetReference>
            </connector>
            <label>decout1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen2</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>666</locationX>
        <locationY>2162</locationY>
        <collectionReference>var1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scr4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scr_loop2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create1</name>
        <label>create1</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>s002</targetReference>
        </connector>
        <object>AccountPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get1</name>
        <label>get1</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>s0002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apex1.lat</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>s0002</name>
        <label>s0002</label>
        <locationX>490</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s0010</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s0003</name>
        <label>s0003</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s15</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s0010</name>
        <label>s0010</label>
        <locationX>490</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s007</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s002</name>
        <label>s002</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s007</name>
        <label>s007</label>
        <locationX>490</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s008</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s008</name>
        <label>s008</label>
        <locationX>490</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s11</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s11</name>
        <label>s11</label>
        <locationX>490</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s9</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s12</name>
        <label>s12</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s0003</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s15</name>
        <label>s15</label>
        <locationX>50</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s17</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s17</name>
        <label>s17</label>
        <locationX>490</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s18</name>
        <label>s18</label>
        <locationX>930</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s17</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>s2</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s4</name>
        <label>s4</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s9</name>
        <label>s9</label>
        <locationX>490</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sa</name>
        <label>sa</label>
        <locationX>930</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sb</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sb</name>
        <label>sb</label>
        <locationX>930</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s18</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr2</name>
        <label>scr2</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s17</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr3</name>
        <label>scr3</label>
        <locationX>666</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s17</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr4</name>
        <label>scr4</label>
        <locationX>754</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_loop</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_loop</name>
        <label>scr-loop</label>
        <locationX>754</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_loop2</name>
        <label>scr-loop2</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr3</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>apex1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>sub2</name>
        <label>sub2</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>scr2</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <subflows>
        <name>sub_1</name>
        <label>sub-1</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>s1</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <variables>
        <name>var1</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
