All Flow Files/CD-2622-Good-screen-FlowInteractionNaming.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT1</name>
        <label>ACT_127_Flow</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>amount_updated</actionName>
        <actionType>sendNotification</actionType>
        <connector>
            <targetReference>SUB1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>record1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>numberFormula</name>
        <dataType>Number</dataType>
        <expression>{!number}-100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Variables {!$Flow.CurrentDateTime}</interviewLabel>
      <processType>Flow</processType>
    <label>Variables</label>
    <screens>
        <name>InteractionwithCustomer</name>
        <label>S1_InteractionwithCustomer</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createNewOne</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_02</name>
        <label>S0010_Screen</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_03</name>
        <label>S11_02</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InteractionwithCustomer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>SUB1</name>
        <label>SUB_runtime_commerce_oms__Cancel_Item_triggered</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
</Flow>