All Flow Files/CD-2620-(FlowNaming)-ScreenNaming - Bad2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT1</name>
        <label>ACT1</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>amount_updated</actionName>
        <actionType>sendNotification</actionType>
        <connector>
            <targetReference>SUB1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>record1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>numberFormula</name>
        <dataType>Number</dataType>
        <expression>{!number}-100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Variables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>V_SCR123</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>getrows1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>record1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewOne</name>
        <label>createNewOne</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>getrows1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>temp</targetReference>
        </faultConnector>
        <inputReference>createnewrecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>record1</name>
        <label>record1</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>S_02</targetReference>
        </faultConnector>
        <inputReference>createnewrecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getrows1</name>
        <label>getrows1</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACT1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>InteractionwithCustomer</name>
        <label>InteractionwithCustomer</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createNewOne</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_02</name>
        <label>S_02</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>temp</name>
        <label>temp</label>
        <locationX>920</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InteractionwithCustomer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>SUB1</name>
        <label>SUB1</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <variables>
        <name>boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>createnewrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>student__c</objectType>
    </variables>
    <variables>
        <description>creating new task</description>
        <name>createnewTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
