All Flow Files/CD-2614_good-DML in loops.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ASSIGN</name>
        <label>ASSIGN</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SORT</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SORT</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SORT</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>GET</collectionReference>
        <connector>
            <targetReference>LOOP</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>IsDeleted</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>DEC</name>
        <label>DEC</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>DEL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S_01</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>good2614 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>good2614</label>
    <loops>
        <name>LOOP</name>
        <label>LOOP</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>GET</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>S_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE</name>
        <label>CREATE</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>DEC</targetReference>
        </connector>
        <inputReference>LOOP</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DEL</name>
        <label>DEL</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <inputReference>LOOP</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET</name>
        <label>GET</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserEmailPreferredPersonShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE</name>
        <label>UPDATE</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>DEL</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>HYD</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>S_01</name>
        <label>S_01</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASSIGN</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
