All Flow Files/CD-2615-nested_loops.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>decision1</name>
        <label>decision1</label>
        <locationX>880</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>loop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>collvar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop3</targetReference>
            </connector>
            <label>outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>nested_loops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nested_loops</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop2</name>
        <label>loop2</label>
        <locationX>880</locationX>
        <locationY>626</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop3</name>
        <label>loop3</label>
        <locationX>792</locationX>
        <locationY>350</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>loop2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop4</name>
        <label>loop4</label>
        <locationX>176</locationX>
        <locationY>1286</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loop2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop5</name>
        <label>loop5</label>
        <locationX>1232</locationX>
        <locationY>734</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop6</name>
        <label>loop6</label>
        <locationX>1408</locationX>
        <locationY>842</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>loop5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop7</name>
        <label>loop7</label>
        <locationX>176</locationX>
        <locationY>1544</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <isGoTo>true</isGoTo>
            <targetReference>decision1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop8</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop8</name>
        <label>loop8</label>
        <locationX>176</locationX>
        <locationY>1802</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop9</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop9</name>
        <label>loop9</label>
        <locationX>352</locationX>
        <locationY>1910</locationY>
        <collectionReference>collvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loop8</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop8</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collvar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
