All Flow Files/CD-2625-FlowDMLNaming.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>57.0</apiVersion>
  <recordCreates>
    <name>Create1</name>
    <label>Create_List_new</label>
    <locationX>50</locationX>
    <locationY>518</locationY>
    <connector>
      <targetReference>delete1</targetReference>
    </connector>
    <inputReference>get1</inputReference>
  </recordCreates>
  <recordCreates>
    <name>c</name>
    <label>Create_new</label>
    <locationX>314</locationX>
    <locationY>638</locationY>
    <connector>
      <targetReference>del2</targetReference>
    </connector>
    <inputAssignments>
      <field>OpportunityAccessLevel</field>
      <value>
        <stringValue>Edit</stringValue>
      </value>
    </inputAssignments>
    <object>AccountShare</object> <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>Create1</name>
    <label>Create1</label>
    <locationX>50</locationX>
    <locationY>518</locationY>
    <connector>
      <targetReference>delete1</targetReference>
    </connector>
    <inputReference>get1</inputReference>
  </recordCreates>
  <recordCreates>
    <name>c</name>
    <label>Create2</label>
    <locationX>314</locationX>
    <locationY>638</locationY>
    <connector>
      <targetReference>del2</targetReference>
    </connector>
    <inputAssignments>
      <field>OpportunityAccessLevel</field>
      <value>
        <stringValue>Edit</stringValue>
      </value>
    </inputAssignments>
    <object>AccountShare</object> <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordCreates>
  <recordCreates>
    <name>create_record_problem</name>
    <label>create_record_problem</label>
    <locationX>314</locationX>
    <locationY>782</locationY>
    <connector>
      <targetReference>create_record_problem_1</targetReference>
    </connector>
    <inputReference>get12</inputReference>
  </recordCreates>
  <recordCreates>
    <name>create_record_problem_1</name>
    <label>create_record_problem_1</label>
    <locationX>314</locationX>
    <locationY>890</locationY>
    <connector>
    <targetReference>storeoutputproblem1</targetReference>
    </connector>
    <inputReference>currentItem_newFilter</inputReference>
  </recordCreates>
  <recordCreates>
    <name>CREATE_NEW</name>
    <label>Create_NEW</label>
    <locationX>314</locationX>
    <locationY>782</locationY>
    <connector>
    <targetReference>create_record_problem_1</targetReference>
    </connector>
    <inputReference>get12</inputReference>
  </recordCreates>
  <recordCreates>
    <name>create_record_problem_1</name>
    <label>Create_NEWEST</label>
    <locationX>314</locationX>
    <locationY>890</locationY>
    <connector>
      <targetReference>storeoutputproblem1</targetReference>
    </connector>
    <inputReference>currentItem_newFilter</inputReference>
  </recordCreates>
  <recordCreates>
    <name>update</name>
    <label>update</label>
    <locationX>176</locationX>
    <locationY>1079</locationY>
    <inputReference>filter</inputReference>
  </recordCreates>
  <recordCreates>
      <name>update</name>
      <label>update</label>
      <locationX>176</locationX>
      <locationY>1079</locationY>
      <inputReference>collection</inputReference>
    </recordCreates>
  <recordCreates>
      <name>update</name>
      <label>Create_List_new</label>
      <locationX>176</locationX>
      <locationY>1079</locationY>
      <inputReference>filter</inputReference>
    </recordCreates>
  <recordUpdates>
    <name>Update1</name>
    <label>Update_List_new</label>
    <locationX>50</locationX>
    <locationY>398</locationY>
    <connector>
      <targetReference>Create1</targetReference>
    </connector>
    <inputReference>get1</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>update2</name>
    <label>Update_new</label>
    <locationX>314</locationX>
    <locationY>518</locationY>
    <connector>
      <targetReference>create2</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>AccountNumber</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>pi</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>AnnualRevenue</field>
      <value>
        <elementReference>pii</elementReference>
      </value>
    </inputAssignments>
    <object>Account</object>
  </recordUpdates>
  <recordUpdates>
    <name>Update1</name>
    <label>Update1</label>
    <locationX>50</locationX>
    <locationY>398</locationY>
    <connector>
      <targetReference>Create1</targetReference>
    </connector>
    <inputReference>get1</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Updates_new</name>
    <label>update2</label>
    <locationX>314</locationX>
    <locationY>518</locationY>
    <connector>
      <targetReference>create2</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>AccountNumber</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>pi</elementReference>
      </value>
    </filters>
    <inputAssignments>
      <field>AnnualRevenue</field>
      <value>
        <elementReference>pii</elementReference>
      </value>
    </inputAssignments>
    <object>Account</object>
  </recordUpdates>
  <recordUpdates>
    <name>update_record</name>
    <label>update_record</label>
    <locationX>314</locationX>
    <locationY>1106</locationY>
    <connector>
  <targetReference>delete_record</targetReference>
    </connector>
    <inputReference>get12</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>update_record</name>
    <label>Update_new</label>
    <locationX>314</locationX>
    <locationY>1106</locationY>
    <connector>
  <targetReference>delete_record</targetReference>
    </connector>
    <inputReference>get12</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Record_Collection</name>
    <label>Record Collection</label>
    <locationX>176</locationX>
    <locationY>539</locationY>
    <connector>
        <targetReference>update_single_record</targetReference>
    </connector>
    <inputReference>collection</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>Update_List_Collection</name>
    <label>Update_List_Collection</label>
    <locationX>176</locationX>
    <locationY>539</locationY>
    <connector>
        <targetReference>update_single_record</targetReference>
    </connector>
    <inputReference>collection</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name>update</name>
    <label>Update_List_Collection</label>
    <locationX>176</locationX>
    <locationY>1079</locationY>
    <inputReference>filter</inputReference>
  </recordUpdates>
  <recordUpdates>
    <name></name>
    <label>update</label>
    <locationX>176</locationX>
    <locationY>1079</locationY>
    <inputReference>filter</inputReference>
  </recordUpdates>
  <collectionProcessors>
    <name>filter</name>
    <elementSubtype>FilterCollectionProcessor</elementSubtype>
    <label>filter</label>
    <locationX>176</locationX>
    <locationY>863</locationY>
    <assignNextValueToReference>currentItem_filter</assignNextValueToReference>
    <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
    <collectionReference>collection</collectionReference>
    <conditionLogic>and</conditionLogic>
    <conditions>
        <leftValueReference>currentItem_filter.AnnualRevenue</leftValueReference>
        <operator>LessThanOrEqualTo</operator>
        <rightValue>
            <numberValue>22.0</numberValue>
        </rightValue>
    </conditions>
    <connector>
        <targetReference>csort</targetReference>
    </connector>
  </collectionProcessors>
  <recordDeletes>
    <name>Del_</name>
    <label>Del_</label>
    <locationX>314</locationX>
    <locationY>758</locationY>
    <filterLogic>and</filterLogic>
    <filters>
      <field>DeveloperName</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </filters>
    <object>ActionLinkGroupTemplate</object>
  </recordDeletes>
  <recordDeletes>
    <name>delete1</name>
    <label>Del_List_</label>
    <locationX>50</locationX>
    <locationY>638</locationY>
    <connector>
      <targetReference>get12</targetReference>
    </connector>
    <inputReference>get1</inputReference>
  </recordDeletes>
  <recordDeletes>
    <name>del2</name>
    <label>del2</label>
    <locationX>314</locationX>
    <locationY>758</locationY>
    <filterLogic>and</filterLogic>
    <filters>
      <field>DeveloperName</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </filters>
    <object>ActionLinkGroupTemplate</object>
  </recordDeletes>
  <recordDeletes>
    <name>delete1</name>
    <label>delete1</label>
    <locationX>50</locationX>
    <locationY>638</locationY>
    <connector>
      <targetReference>get12</targetReference>
    </connector>
    <inputReference>get1</inputReference>
  </recordDeletes>
  <recordDeletes>
    <name>delete1</name>
    <label>delete1</label>
    <locationX>50</locationX>
    <locationY>566</locationY>
    <connector>
        <targetReference>get12</targetReference>
    </connector>
    <inputReference>get12</inputReference>
  </recordDeletes>
  <recordDeletes>
    <name>delete1</name>
    <label>Del_new</label>
    <locationX>50</locationX>
    <locationY>566</locationY>
    <connector>
        <targetReference>get12</targetReference>
    </connector>
    <inputReference>get12</inputReference>
  </recordDeletes>
  <recordDeletes>
      <name></name>
      <label>delete</label>
      <locationX>176</locationX>
      <locationY>1079</locationY>
      <inputReference>filter</inputReference>
    </recordDeletes>
    <recordDeletes>
          <name></name>
          <label>Del_List_new</label>
          <locationX>176</locationX>
          <locationY>1079</locationY>
          <inputReference>filter</inputReference>
        </recordDeletes>
  <recordLookups>
    <name>get1</name>
    <label>get1</label>
    <locationX>314</locationX>
    <locationY>398</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>update2</targetReference>
    </connector>
    <getFirstRecordOnly>false</getFirstRecordOnly>
    <object>Account</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>get12</name>
    <label>Get_new</label>
    <locationX>50</locationX>
    <locationY>758</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>get2cmtd</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>BillingCity</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Account</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <description>this is cmtd</description>
    <name>get2cmtd</name>
    <label>FETCH_O</label>
    <locationX>50</locationX>
    <locationY>878</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <connector>
      <targetReference>get3cmtd</targetReference>
    </connector>
    <filterLogic>and</filterLogic>
    <filters>
      <field>DeveloperName</field>
      <operator>EqualTo</operator>
      <value>
        <stringValue></stringValue>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>Account_Setting__mdt</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <recordLookups>
    <name>get3cmtd</name>
    <label>get3cmtd</label>
    <locationX>50</locationX>
    <locationY>998</locationY>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <filterLogic>and</filterLogic>
    <filters>
      <field>Id</field>
      <operator>EqualTo</operator>
      <value>
        <elementReference>pi</elementReference>
      </value>
    </filters>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>custommetadata__mdt</object>
    <storeOutputAutomatically>true</storeOutputAutomatically>
  </recordLookups>
  <variables>
    <name>collection</name>
    <dataType>SObject</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>Account</objectType>
  </variables>
</Flow>
