All Flow Files/CD-2623-Good-FlowLogicNaming.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>57.0</apiVersion>
  <loops>
    <name>innerLoop</name>
    <label>LOOP_batman</label>
    <locationX>352</locationX>
    <locationY>638</locationY>
    <collectionReference>batman</collectionReference>
    <iterationOrder>Desc</iterationOrder>
    <nextValueConnector>
      <targetReference>sampleScreen2</targetReference>
    </nextValueConnector>
    <noMoreValuesConnector>
      <targetReference>loopEndScreen</targetReference>
    </noMoreValuesConnector>
  </loops>
  <assignments>
    <name>REMOVE_1</name>
    <label>REMOVE_1</label>
    <locationX>182</locationX>
    <locationY>2822</locationY>
    <assignmentItems>
      <assignToReference>Known_Case_Ids</assignToReference>
      <operator>RemoveFirst</operator>
      <value>
        <elementReference>Temp_Case_Id</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>remove2</targetReference>
    </connector>
  </assignments>
  <assignments>
    <name>remove2</name>
    <label>REMOVE_2</label>
    <locationX>182</locationX>
    <locationY>2942</locationY>
    <assignmentItems>
      <assignToReference>Known_Case_Ids</assignToReference>
      <operator>RemoveBeforeFirst</operator>
      <value>
        <elementReference>Incident_Number_Link</elementReference>
      </value>
    </assignmentItems>
    <connector>
      <targetReference>calc1</targetReference>
    </connector>
  </assignments>
  <assignments>
        <name>assignset</name>
        <label>SET_NEW</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>get1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get12</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set2</targetReference>
        </connector>
    </assignments>
    <recordLookups>
        <name>get1</name>
        <label>get1</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update2</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
  <assignments>
    <description>Set the case owner ID based on the incident owner ID and add the case to CaseListToUpdate.
    </description>
    <name>SetCaseOwnerAndAddCaseToList</name>
    <label>ASSIGN_NEWEST</label>
    <locationX>490</locationX>
    <locationY>1598</locationY>
    <assignmentItems>
      <assignToReference>Temp_Case_Id</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>GetIncident.OwnerId</elementReference>
      </value>
    </assignmentItems>
  </assignments>
  <assignments>
    <description>Set the case owner ID based on the incident owner ID and add the case to CaseListToUpdate.
    </description>
    <name>SetCaseOwnerAndAddCaseToList</name>
    <label>STORE_NEW</label>
    <locationX>490</locationX>
    <locationY>1598</locationY>
    <assignmentItems>
      <assignToReference>CaseListToUpdate</assignToReference>
      <operator>Add</operator>
      <value>
        <elementReference>GetCase</elementReference>
      </value>
    </assignmentItems>
  </assignments>
  <assignments>
    <description>Set the case owner ID based on the incident owner ID and add the case to CaseListToUpdate.
    </description>
    <name>HH</name>
    <label>CALC_NEWEST</label>
    <locationX>490</locationX>
    <locationY>1598</locationY>
    <assignmentItems>
      <assignToReference>recordId</assignToReference>
      <operator>Add</operator>
      <value>
        <elementReference>GetIncident.OwnerId</elementReference>
      </value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>CaseListTo.Update</assignToReference>
      <operator>Subtract</operator>
      <value>
        <elementReference>GetCase</elementReference>
      </value>
    </assignmentItems>
  </assignments>
  <assignments>
    <name>myassigy</name>
    <label>CALC_NEW1</label>
    <locationX>176</locationX>
    <locationY>278</locationY>
    <assignmentItems>
      <assignToReference>usy</assignToReference>
      <operator>Assign</operator>
      <value>
        <elementReference>formy</elementReference>
      </value>
    </assignmentItems>
  </assignments>
  <assignments>
    <description>Set the case owner ID based on the incident owner ID and add the case to CaseListToUpdate.
    </description>
    <name>HH</name>
    <label>CALC_OBJECTMANIPULATION</label>
    <locationX>490</locationX>
    <locationY>1598</locationY>
    <assignmentItems>
      <assignToReference>get1</assignToReference>
      <operator>Subtract</operator>
      <value>
        <elementReference>GetCase</elementReference>
      </value>
    </assignmentItems>
  </assignments>
  <recordLookups>
              <name>get1</name>
              <label>get1</label>
              <locationX>314</locationX>
              <locationY>350</locationY>
              <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
              <connector>
                  <targetReference>update2</targetReference>
              </connector>
              <getFirstRecordOnly>true</getFirstRecordOnly>
              <object>Account</object>
              <storeOutputAutomatically>true</storeOutputAutomatically>
          </recordLookups>
  <decisions>
    <name>openchoice</name>
    <label>DEC_HasOPEN</label>
    <locationX>314</locationX>
    <locationY>158</locationY>
    <defaultConnector>
      <targetReference>logic</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>ERROR</defaultConnectorLabel>
    <rules>
      <name>DEC_OPEN_ch1</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>$Profile.Id</leftValueReference>
        <operator>Contains</operator>
        <rightValue>
          <elementReference>$Profile.Description</elementReference>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>logic</targetReference>
      </connector>
      <label>DEC_HasOPEN_ch1</label>
    </rules>
    <rules>
      <name>Severity_1</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>$User.Email</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <stringValue></stringValue>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>screensiviority1</targetReference>
      </connector>
      <label>DEC_HasOPEN_ch1</label>
    </rules>
  </decisions>
  <decisions>
    <name>logic</name>
    <label>CHECK_IsLOGICALTERMINATOR1</label>
    <locationX>314</locationX>
    <locationY>494</locationY>
    <defaultConnector>
      <targetReference>s1</targetReference>
    </defaultConnector>
    <defaultConnectorLabel>ERROR</defaultConnectorLabel>
    <rules>
      <name>yes</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Severity_0</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <elementReference>Severity_1</elementReference>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>screenyes</targetReference>
      </connector>
      <label>CHECK_CHECK_IsLOGICALTERMINATOR1_YES</label>
    </rules>
    <rules>
      <name>No</name>
      <conditionLogic>and</conditionLogic>
      <conditions>
        <leftValueReference>Severity_1</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue>
          <elementReference>Severity_0</elementReference>
        </rightValue>
      </conditions>
      <connector>
        <targetReference>screenno</targetReference>
      </connector>
      <label>CHECK_CHECK_IsLOGICALTERMINATOR1_No</label>
    </rules>
  </decisions>
  <formulas>
    <name>formy</name>
    <dataType>String</dataType>
    <expression>&quot; Shipping Address added on &quot; &amp; TEXT({!$Flow.CurrentDate})</expression>
  </formulas>
  <variables>
    <name>Can_Send_Email</name>
    <dataType>Boolean</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <value>
      <booleanValue>true</booleanValue>
    </value>
  </variables>
  <variables>
    <name>CaseListToUpdate</name>
    <dataType>SObject</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>Case</objectType>
  </variables>
  <variables>
    <name>Email_Body_Links</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Known_Case_Ids</name>
    <dataType>String</dataType>
    <isCollection>true</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>newVar</name>
    <dataType>SObject</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <objectType>Account</objectType>
  </variables>
  <variables>
    <name>num1</name>
    <dataType>Number</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
    <scale>2</scale>
    <value>
      <numberValue>3.14</numberValue>
    </value>
  </variables>
  <variables>
    <description>Record Id of the Incident</description>
    <name>recordId</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>true</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Temp_Case_Id</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <variables>
    <name>Temp_Case_Number</name>
    <dataType>String</dataType>
    <isCollection>false</isCollection>
    <isInput>false</isInput>
    <isOutput>false</isOutput>
  </variables>
  <environments>Default</environments>
  <interviewLabel>decisionlogic1 {!$Flow.CurrentDateTime}</interviewLabel>
  <label>decisionlogic1</label>
  <processMetadataValues>
    <name>BuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>CanvasMode</name>
    <value>
      <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
    </value>
  </processMetadataValues>
  <processMetadataValues>
    <name>OriginBuilderType</name>
    <value>
      <stringValue>LightningFlowBuilder</stringValue>
    </value>
  </processMetadataValues>
  <processType>Flow</processType>
  <screens>
    <name>s1</name>
    <label>s1</label>
    <locationX>578</locationX>
    <locationY>614</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>screenno</name>
    <label>screenno</label>
    <locationX>314</locationX>
    <locationY>614</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>screensiviority1</name>
    <label>screensiviority1</label>
    <locationX>270</locationX>
    <locationY>278</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <connector>
      <targetReference>logic</targetReference>
    </connector>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <screens>
    <name>screenyes</name>
    <label>screenyes</label>
    <locationX>50</locationX>
    <locationY>614</locationY>
    <allowBack>true</allowBack>
    <allowFinish>true</allowFinish>
    <allowPause>true</allowPause>
    <showFooter>true</showFooter>
    <showHeader>true</showHeader>
  </screens>
  <start>
    <locationX>188</locationX>
    <locationY>0</locationY>
    <connector>
      <targetReference>Check_Case</targetReference>
    </connector>
  </start>
  <status>Draft</status>
</Flow>
