All Flow Files/CD-4019-(UnusedFlowVariables)-rec_trig_flow_unused_var_test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>rec_trig_flow_unused_var_test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rec_trig_flow_unused_var_test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>my_updateRelatedRecs_label</name>
        <label>my_updateRelatedRecs_label</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>Variable_record.CreatedBy.Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CreatedBy.Manager.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>my_updatingTrigger_label</name>
        <label>my_updatingTrigger_label</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>my_updateRelatedRecs_label</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>Variable_record.CreatedBy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>my_updatingTrigger_label</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>Variable_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
