All Flow Files/CD-4064(FilterGetRecords)_Positive.flow
<?xml version="1.0" encoding="UTF-8"?>
      <Flow xmlns="http://soap.sforce.com/2006/04/metadata">
        <apiVersion>57.0</apiVersion>
        <environments>Default</environments>
        <interviewLabel>new1 {!$Flow.CurrentDateTime}</interviewLabel>
        <label>new1</label>
        <processMetadataValues>
          <name>BuilderType</name>
          <value>
            <stringValue>LightningFlowBuilder</stringValue>
          </value>
        </processMetadataValues>
        <processMetadataValues>
          <name>CanvasMode</name>
          <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
          </value>
        </processMetadataValues>
        <processMetadataValues>
          <name>OriginBuilderType</name>
          <value>
            <stringValue>LightningFlowBuilder</stringValue>
          </value>
        </processMetadataValues>
        <processType>AutoLaunchedFlow</processType>
        <recordLookups>
          <description>get record element with filter</description>
          <name>withFilter</name>
          <label>withFilter</label>
          <locationX>176</locationX>
          <locationY>323</locationY>
          <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
          <connector>
            <targetReference>updating</targetReference>
          </connector>
          <filterLogic>and</filterLogic>
          <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
              <booleanValue>false</booleanValue>
            </value>
          </filters>
          <getFirstRecordOnly>true</getFirstRecordOnly>
          <object>NamedCredential</object>
          <storeOutputAutomatically>true</storeOutputAutomatically>
        </recordLookups>
        <recordUpdates>
          <name>updating</name>
          <label>updating</label>
          <locationX>176</locationX>
          <locationY>431</locationY>
          <inputAssignments>
            <field>Attendees</field>
            <value>
              <elementReference>$Record__Prior.Description</elementReference>
            </value>
          </inputAssignments>
          <inputReference>$Record.Events</inputReference>
        </recordUpdates>
        <start>
          <locationX>50</locationX>
          <locationY>0</locationY>
          <connector>
            <targetReference>withFilter</targetReference>
          </connector>
          <object>Promotion</object>
          <recordTriggerType>Update</recordTriggerType>
          <triggerType>RecordAfterSave</triggerType>
        </start>
        <status>Draft</status>
      </Flow>