All Flow Files/CD-4019-(UnusedFlowVariables)-UnusedFlowVariablesTestFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>new_action</name>
        <label>new action</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>new_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>Variable1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Variable1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecord1.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>collection_filter_label</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>collection_filter_label</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>currentItem_collection_filter_label</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Variable_collectionType</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collection_filter_label</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>abc</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>updateRec</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collection_sort_label</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>collection_sort_label</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Variable_collectionType</collectionReference>
        <connector>
            <targetReference>collection_filter_label</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>loop_label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Variable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Variable1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_label</targetReference>
            </connector>
            <label>outcome label</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UnusedFlowVariablesTestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UnusedFlowVariablesTestFlow</label>
    <loops>
        <name>loop_label</name>
        <label>loop_label</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Variable_collectionType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>collection_sort_label</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createREc</name>
        <label>createREc</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>getRecord1</targetReference>
        </connector>
        <inputReference>Variable_recordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createRecs2single</name>
        <label>createRecs2single</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>createREc</targetReference>
        </connector>
        <inputReference>variable3_record</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteRecs</name>
        <label>deleteRecs</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>rollbackREcs</targetReference>
        </connector>
        <inputReference>variable3_record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getRecord1</name>
        <label>getRecord1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>new_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecs</name>
        <label>getRecs</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deleteRecs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Variable1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollbackREcs</name>
        <label>rollbackREcs</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>updateRec</name>
        <label>updateRec</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>getRecs</targetReference>
        </connector>
        <inputReference>variable3_record</inputReference>
    </recordUpdates>
    <screens>
        <name>new_screen</name>
        <label>new screen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Variable2_number</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>Variable1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Variable2_number</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createRecs2single</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_collection_filter_label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unusedVariable1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Variable1</elementReference>
        </value>
    </variables>
    <variables>
        <name>unusedVariable2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hello</stringValue>
        </value>
    </variables>
    <variables>
        <name>Variable2_number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>variable3_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Variable_collectionType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_recordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
