All Flow Files/CD-4018-FlowNullHandlerBad.Flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign2</name>
        <label>assign2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>mygetrecords1.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigncheckmerge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign7</name>
        <label>assign7</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>mygetrecords1.AnnualRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>113.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigncheckmerge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigncheckmerge</name>
        <label>assigncheckmerge</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>mygetrecords1.AnnualRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>60000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision1</name>
        <label>decision1</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkboolean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mygetrecords1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>mygetrecords1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign2</targetReference>
            </connector>
            <label>checkboolean</label>
        </rules>
        <rules>
            <name>checknull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mygetrecords1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update1</targetReference>
            </connector>
            <label>checknull1</label>
        </rules>
        <rules>
            <name>checkonlyids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mygetrecords1.AnnualRevenue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign7</targetReference>
            </connector>
            <label>checkonlyids</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>screenflow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screenflow1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>mygetrecords1</name>
        <label>getrecords1</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update1</name>
        <label>update1</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>assigncheckmerge</targetReference>
        </connector>
        <inputReference>mygetrecords1</inputReference>
    </recordUpdates>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mygetrecords1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>numbers</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nums</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
