All Flow Files/LargeScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Action description</description>
        <name>Action</name>
        <label>Action</label>
        <locationX>1628</locationX>
        <locationY>2696</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>Collection_Sort</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>yes1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>actionCancel_Appointment</name>
        <label>actionCancel Appointment</label>
        <locationX>578</locationX>
        <locationY>4424</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>ActionInsideDecision2 description</description>
        <name>ActionInsideDecision2</name>
        <label>ActionInsideDecision2</label>
        <locationX>486</locationX>
        <locationY>3452</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Assignment2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LastName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_actionCancel_Appointment</name>
        <label>Copy 1 of actionCancel Appointment</label>
        <locationX>2946</locationX>
        <locationY>3968</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>loop6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_actionCancel_Appointment</name>
        <label>Copy 2 of actionCancel Appointment</label>
        <locationX>1808</locationX>
        <locationY>2138</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_actionCancel_Appointment</name>
        <label>Copy 3 of actionCancel Appointment</label>
        <locationX>1800</locationX>
        <locationY>2030</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>loop5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_actionCancel_Appointment</name>
        <label>Copy 4 of actionCancel Appointment</label>
        <locationX>1544</locationX>
        <locationY>2138</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>Loop4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_actionCancel_Appointment</name>
        <label>Copy 5 of actionCancel Appointment</label>
        <locationX>1628</locationX>
        <locationY>1166</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>LoopEnd</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_actionCancel_Appointment</name>
        <label>Copy 6 of actionCancel Appointment</label>
        <locationX>834</locationX>
        <locationY>4508</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>Copy_1_of_loop10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Copy_3_of_Get_Records_5.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>positive</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>1978</locationX>
        <locationY>3668</locationY>
        <assignmentItems>
            <assignToReference>Create_Records_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>formula_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign2</name>
        <label>assign2</label>
        <locationX>2242</locationX>
        <locationY>3560</locationY>
        <assignmentItems>
            <assignToReference>Create_Records_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_deleteRecords2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assignement description</description>
        <name>assignement</name>
        <label>assignement</label>
        <locationX>1804</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop2.BillingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment2</name>
        <label>Assignment2</label>
        <locationX>486</locationX>
        <locationY>3560</locationY>
        <assignmentItems>
            <assignToReference>Get_Records3.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>233</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>formula_1</name>
        <label>formula</label>
        <locationX>1978</locationX>
        <locationY>3776</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_deleteRecords2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceResource</name>
        <choiceText>{!formula}</choiceText>
        <dataType>Currency</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Collection Filter description</description>
        <name>Collection_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter</label>
        <locationX>1628</locationX>
        <locationY>2912</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter.AnnualRevenue</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>1.0E7</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>subflow</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Collection Sort description</description>
        <name>Collection_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection Sort</label>
        <locationX>1628</locationX>
        <locationY>2804</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_1</collectionReference>
        <connector>
            <targetReference>Collection_Filter</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Active__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>CollectionFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CollectionFilter</label>
        <locationX>578</locationX>
        <locationY>4316</locationY>
        <assignNextValueToReference>currentItem_CollectionFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Collection_Filter</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CollectionFilter.AnnualRevenue</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <elementReference>formula</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>actionCancel_Appointment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>cs</label>
        <locationX>1978</locationX>
        <locationY>4640</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_1</collectionReference>
        <connector>
            <targetReference>newfor1</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>AccountSource</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>CONS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision description</description>
        <name>decision</name>
        <label>decision</label>
        <locationX>1628</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>defaultoutcomescreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignement</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>yes1_screen</targetReference>
            </connector>
            <label>yes1</label>
        </rules>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yes1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>yes2_screen</targetReference>
            </connector>
            <label>yes2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision2 description</description>
        <name>Decision2</name>
        <label>Decision2</label>
        <locationX>1628</locationX>
        <locationY>3236</locationY>
        <defaultConnector>
            <targetReference>DefaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Inside_positive_1</targetReference>
            </connector>
            <label>positive1</label>
        </rules>
        <rules>
            <name>positive2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignement</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>yes2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Inside_positive_2</targetReference>
            </connector>
            <label>positive2</label>
        </rules>
        <rules>
            <name>positive3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignement</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>Delete_Records1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInsidepositive3</targetReference>
            </connector>
            <label>positive3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision3</name>
        <label>Decision3</label>
        <locationX>486</locationX>
        <locationY>3668</locationY>
        <defaultConnector>
            <targetReference>Update_Records_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionInsideDecision2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenYes</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignement</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenNo</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula</name>
        <dataType>Number</dataType>
        <expression>{!Action}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>newFlow50 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>newFlow50</label>
    <loops>
        <name>Copy_1_of_loop10</name>
        <label>Copy 1 of loop10</label>
        <locationX>658</locationX>
        <locationY>4100</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_loop11</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Records_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_loop11</name>
        <label>Copy 1 of loop11</label>
        <locationX>834</locationX>
        <locationY>4208</locationY>
        <collectionReference>Collection_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_loopScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_6_of_actionCancel_Appointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>1628</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_5_of_actionCancel_Appointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop10</name>
        <label>loop10</label>
        <locationX>50</locationX>
        <locationY>4898</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop11</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop11</name>
        <label>loop11</label>
        <locationX>226</locationX>
        <locationY>5006</locationY>
        <collectionReference>Collection_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Get_Records_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>Loop2</label>
        <locationX>1804</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>sampleScreen2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopEndScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop3 description</description>
        <name>loop3</name>
        <label>loop3</label>
        <locationX>1280</locationX>
        <locationY>1706</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screenafterdecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop4</name>
        <label>Loop4</label>
        <locationX>1456</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getRecords4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop5 description</description>
        <name>loop5</name>
        <label>loop5</label>
        <locationX>1712</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen_inside_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Records1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop6 description</description>
        <name>loop6</name>
        <label>loop6</label>
        <locationX>2770</locationX>
        <locationY>3452</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop7</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>loop7</description>
        <name>loop7</name>
        <label>loop7</label>
        <locationX>2946</locationX>
        <locationY>3560</locationY>
        <collectionReference>Collection_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Records_5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_actionCancel_Appointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loop8 description</description>
        <name>loop8</name>
        <label>loop8</label>
        <locationX>50</locationX>
        <locationY>3884</locationY>
        <collectionReference>Collection_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>subflow3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop10</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop9</name>
        <label>loop9</label>
        <locationX>226</locationX>
        <locationY>4100</locationY>
        <collectionReference>Collection_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getRecords6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>subflow4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>newfor</name>
        <label>newfor</label>
        <locationX>1714</locationX>
        <locationY>3992</locationY>
        <collectionReference>CollectionFilter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>newfor1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>newfor1</name>
        <label>newfor1</label>
        <locationX>1890</locationX>
        <locationY>4100</locationY>
        <collectionReference>Collection_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>s1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>subflow2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Records2 description</description>
        <name>Copy_1_of_Create_Records2</name>
        <label>Copy 1 of Create Records2</label>
        <locationX>658</locationX>
        <locationY>3884</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Records_4</targetReference>
        </connector>
        <inputReference>loop5</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Records2 description</description>
        <name>Copy_2_of_Create_Records2</name>
        <label>Copy 2 of Create Records2</label>
        <locationX>1714</locationX>
        <locationY>3668</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Records2</targetReference>
        </connector>
        <inputReference>loop5</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Records2 description</description>
        <name>Create_Records2</name>
        <label>Create Records2</label>
        <locationX>1976</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Records2</targetReference>
        </connector>
        <inputReference>loop5</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Records 1 description</description>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>1804</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>samplescreen1</targetReference>
        </connector>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRecords</name>
        <label>createRecords</label>
        <locationX>1186</locationX>
        <locationY>3884</locationY>
        <connector>
            <targetReference>updateRecords</targetReference>
        </connector>
        <inputReference>Copy_1_of_loop11</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete Records1 description</description>
        <name>Copy_1_of_Delete_Records1</name>
        <label>Copy 1 of Delete Records1</label>
        <locationX>2240</locationX>
        <locationY>2138</locationY>
        <inputReference>Loop1</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_1_of_deleteRecords2</name>
        <label>Copy 1 of deleteRecords2</label>
        <locationX>922</locationX>
        <locationY>3992</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Records_5</targetReference>
        </connector>
        <inputReference>Loop2</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>Delete Records1 description</description>
        <name>Copy_2_of_Delete_Records1</name>
        <label>Copy 2 of Delete Records1</label>
        <locationX>1544</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_4_of_actionCancel_Appointment</targetReference>
        </connector>
        <inputReference>Loop1</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_deleteRecords2</name>
        <label>Copy 2 of deleteRecords2</label>
        <locationX>1978</locationX>
        <locationY>3884</locationY>
        <inputReference>Loop2</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_3_of_deleteRecords2</name>
        <label>Copy 3 of deleteRecords2</label>
        <locationX>2242</locationX>
        <locationY>3668</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <inputReference>Loop2</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>Delete Records1 description</description>
        <name>Delete_Records1</name>
        <label>Delete Records1</label>
        <locationX>1712</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Screenafterdecision</targetReference>
        </connector>
        <inputReference>Loop1</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>deleteRecords</name>
        <label>deleteRecords</label>
        <locationX>1186</locationX>
        <locationY>4208</locationY>
        <connector>
            <targetReference>Rollback</targetReference>
        </connector>
        <inputReference>loop10</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>deleteRecords2</name>
        <label>deleteRecords2</label>
        <locationX>3034</locationX>
        <locationY>3776</locationY>
        <connector>
            <targetReference>loop7</targetReference>
        </connector>
        <inputReference>Loop2</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get Records 4 description</description>
        <name>Copy_1_of_Get_Records_4</name>
        <label>Copy 1 of Get Records 4</label>
        <locationX>658</locationX>
        <locationY>3992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_loop10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2023-09-10T18:30:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 5 description</description>
        <name>Copy_1_of_Get_Records_5</name>
        <label>Copy 1 of Get Records 5</label>
        <locationX>922</locationX>
        <locationY>3884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_deleteRecords2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 4 description</description>
        <name>Copy_2_of_Get_Records_4</name>
        <label>Copy 2 of Get Records 4</label>
        <locationX>226</locationX>
        <locationY>5414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2023-09-10T18:30:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 5 description</description>
        <name>Copy_2_of_Get_Records_5</name>
        <label>Copy 2 of Get Records 5</label>
        <locationX>922</locationX>
        <locationY>4100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 5 description</description>
        <name>Copy_3_of_Get_Records_5</name>
        <label>Copy 3 of Get Records 5</label>
        <locationX>1714</locationX>
        <locationY>3884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newfor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getRecords2 description</description>
        <name>Get_Records2</name>
        <label>Get Records2</label>
        <locationX>1712</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateRecords1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2001-11-21T18:30:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records3 description</description>
        <name>Get_Records3</name>
        <label>Get Records3</label>
        <locationX>1976</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screenafterdecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 1 description</description>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>1628</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 4 description</description>
        <name>Get_Records_4</name>
        <label>Get Records 4</label>
        <locationX>1186</locationX>
        <locationY>3452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Roll_Back_Records_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2023-09-10T18:30:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records 5 description</description>
        <name>Get_Records_5</name>
        <label>Get Records 5</label>
        <locationX>3034</locationX>
        <locationY>3668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deleteRecords2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecords</name>
        <label>getRecords</label>
        <locationX>1186</locationX>
        <locationY>4100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deleteRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AiRecordInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>23</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIInsightAction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getRecords4 description</description>
        <name>getRecords4</name>
        <label>getRecords4</label>
        <locationX>1544</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Delete_Records1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenInFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2000-11-10T18:30:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIApplicationConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecords6</name>
        <label>getRecords6</label>
        <locationX>314</locationX>
        <locationY>4208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop9</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CollectionFilter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AIInsightAction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Roll Back Records1 description</description>
        <name>Roll_Back_Records1</name>
        <label>Roll Back Records1</label>
        <locationX>1628</locationX>
        <locationY>3128</locationY>
        <connector>
            <targetReference>Decision2</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_Records_2</name>
        <label>Roll Back Records 2</label>
        <locationX>1186</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_Records_3</name>
        <label>Roll Back Records 3</label>
        <locationX>1978</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_Records_4</name>
        <label>Roll Back Records 4</label>
        <locationX>314</locationX>
        <locationY>5222</locationY>
        <connector>
            <targetReference>loop11</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1186</locationX>
        <locationY>4316</locationY>
    </recordRollbacks>
    <recordUpdates>
        <description>Update Records2 description</description>
        <name>Copy_1_of_Update_Records2</name>
        <label>Copy 1 of Update Records2</label>
        <locationX>1714</locationX>
        <locationY>3776</locationY>
        <connector>
            <targetReference>Copy_3_of_Get_Records_5</targetReference>
        </connector>
        <inputReference>Loop1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Records 4</description>
        <name>Copy_1_of_Update_Records_4</name>
        <label>Copy 1 of Update Records 4</label>
        <locationX>658</locationX>
        <locationY>4700</locationY>
        <inputReference>Loop1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Records2 description</description>
        <name>Update_Records2</name>
        <label>Update Records2</label>
        <locationX>1976</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Get_Records3</targetReference>
        </connector>
        <inputReference>Loop1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Records 3 description</description>
        <name>Update_Records_3</name>
        <label>Update Records 3</label>
        <locationX>1978</locationX>
        <locationY>3452</locationY>
        <connector>
            <targetReference>Roll_Back_Records_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign2</targetReference>
        </faultConnector>
        <inputReference>loop5</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Records 4</description>
        <name>Update_Records_4</name>
        <label>Update Records 4</label>
        <locationX>922</locationX>
        <locationY>3776</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Records_5</targetReference>
        </connector>
        <inputReference>Loop1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>1186</locationX>
        <locationY>3992</locationY>
        <connector>
            <targetReference>getRecords</targetReference>
        </connector>
        <inputReference>loop10</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>updateRecords1 description</description>
        <name>updateRecords1</name>
        <label>updateRecords1</label>
        <locationX>1712</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>loop5</targetReference>
        </connector>
        <inputReference>Loop1</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_loopScreen</name>
        <label>Copy 1 of loopScreen</label>
        <locationX>922</locationX>
        <locationY>4316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_loop11</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>default outcome screen description</description>
        <name>defaultoutcomescreen</name>
        <label>default outcome screen</label>
        <locationX>1976</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Records2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>DefaultScreen description</description>
        <name>DefaultScreen</name>
        <label>DefaultScreen</label>
        <locationX>2770</locationX>
        <locationY>3344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop6</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error Screen description</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2240</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>subInFault</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen2</name>
        <label>ErrorScreen2</label>
        <locationX>1714</locationX>
        <locationY>3560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Create_Records2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LoopEnd</name>
        <label>LoopEnd</label>
        <locationX>1628</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>loopEndScreen</name>
        <label>InnerloopEndScreen</label>
        <locationX>1804</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>loopScreen</name>
        <label>loopScreen</label>
        <locationX>314</locationX>
        <locationY>5114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Roll_Back_Records_4</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>1978</locationX>
        <locationY>4208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>s2</label>
        <locationX>1978</locationX>
        <locationY>4316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s3</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>1978</locationX>
        <locationY>4424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s4</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s4</name>
        <label>s4</label>
        <locationX>1978</locationX>
        <locationY>4532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cs</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>samplescreen1</name>
        <label>samplescreen1</label>
        <locationX>1804</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sampleScreen2</name>
        <label>sampleScreen2</label>
        <locationX>1892</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen</name>
        <label>screen</label>
        <locationX>1186</locationX>
        <locationY>3668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sub</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>screen inside loop description</description>
        <name>screen_inside_loop</name>
        <label>screen inside loop</label>
        <locationX>1800</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_actionCancel_Appointment</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen Inside positive 1 description</description>
        <name>Screen_Inside_positive_1</name>
        <label>Screen Inside positive 1</label>
        <locationX>486</locationX>
        <locationY>3344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActionInsideDecision2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen Inside positive 2 description</description>
        <name>Screen_Inside_positive_2</name>
        <label>Screen Inside positive 2</label>
        <locationX>1186</locationX>
        <locationY>3344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Records_4</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen after decision description</description>
        <name>Screenafterdecision</name>
        <label>Screen after decision</label>
        <locationX>1628</locationX>
        <locationY>2588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenInFault</name>
        <label>screenInFault</label>
        <locationX>1808</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_actionCancel_Appointment</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen Inside positive 3 description</description>
        <name>ScreenInsidepositive3</name>
        <label>Screen Inside positive 3</label>
        <locationX>1978</locationX>
        <locationY>3344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Records_3</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenNo</name>
        <label>screenNo</label>
        <locationX>658</locationX>
        <locationY>3776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_Records2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenYes</name>
        <label>screenYes</label>
        <locationX>50</locationX>
        <locationY>3776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop8</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>yes1 screen</description>
        <name>yes1_screen</name>
        <label>yes1 screen</label>
        <locationX>1280</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>subflow1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>yes2 screen description</description>
        <name>yes2_screen</name>
        <label>yes2 screen</label>
        <locationX>1712</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Records2</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1502</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>sub</name>
        <label>sub</label>
        <locationX>1186</locationX>
        <locationY>3776</locationY>
        <connector>
            <targetReference>createRecords</targetReference>
        </connector>
        <flowName>BatmanFlow</flowName>
    </subflows>
    <subflows>
        <description>subflow description</description>
        <name>subflow</name>
        <label>subflow</label>
        <locationX>1628</locationX>
        <locationY>3020</locationY>
        <connector>
            <targetReference>Roll_Back_Records1</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <subflows>
        <description>subflow1 description</description>
        <name>subflow1</name>
        <label>subflow1</label>
        <locationX>1280</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>loop3</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <subflows>
        <name>subflow2</name>
        <label>subflow</label>
        <locationX>1890</locationX>
        <locationY>4832</locationY>
        <connector>
            <targetReference>newfor</targetReference>
        </connector>
        <flowName>BatmanFlow</flowName>
    </subflows>
    <subflows>
        <name>subflow3</name>
        <label>subflow3</label>
        <locationX>226</locationX>
        <locationY>3992</locationY>
        <connector>
            <targetReference>loop9</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <subflows>
        <name>subflow4</name>
        <label>subflow4</label>
        <locationX>226</locationX>
        <locationY>4706</locationY>
        <connector>
            <targetReference>loop8</targetReference>
        </connector>
        <flowName>runtime_commerce_oms__Cancel_Item</flowName>
    </subflows>
    <subflows>
        <name>subInFault</name>
        <label>subInFault</label>
        <locationX>2240</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_1_of_Delete_Records1</targetReference>
        </connector>
        <flowName>BatmanFlow</flowName>
    </subflows>
    <textTemplates>
        <name>TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Action}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Collection_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_CollectionFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>variable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
