All Flow Files/LargeRecordTriggeredFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_003</name>
        <label>ACT_003</label>
        <locationX>704</locationX>
        <locationY>4151</locationY>
        <actionName>invocableApplyLeadAssignmentRules</actionName>
        <actionType>invocableApplyLeadAssignmentRules</actionType>
        <connector>
            <targetReference>LOOP_NEW</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <stringValue>123</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>act_01</name>
        <label>act_01</label>
        <locationX>1496</locationX>
        <locationY>6683</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CALC_LIST</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_me</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ACT_ION</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_09</name>
        <label>ACT_09</label>
        <locationX>1408</locationX>
        <locationY>9395</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>Copy_1_of_LOOP_FETCH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>678</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACT_1</name>
        <label>ACT_1</label>
        <locationX>440</locationX>
        <locationY>1403</locationY>
        <actionName>choosePricebook</actionName>
        <actionType>choosePricebook</actionType>
        <connector>
            <targetReference>Loop_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentEntityId</name>
            <value>
                <stringValue>123</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_1_ACT</name>
        <label>ACT_1_ACT</label>
        <locationX>568</locationX>
        <locationY>3611</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>FETCH_LIST.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>newLoop.LastModifiedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>234</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_2</name>
        <label>ACT_2</label>
        <locationX>792</locationX>
        <locationY>3035</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>GET_CONT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>ACT_1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_ION</name>
        <label>ACT_ION</label>
        <locationX>264</locationX>
        <locationY>5759</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LLOP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ACT_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ACT_1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACTion_001</name>
        <label>ACTion_001</label>
        <locationX>1496</locationX>
        <locationY>6575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>act_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>newUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Copy_1_of_newLabel</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACTION_1</name>
        <label>ACT__1</label>
        <locationX>836</locationX>
        <locationY>2003</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ACT_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewOutcome</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>APEX_09</name>
        <label>APEX_09</label>
        <locationX>1914</locationX>
        <locationY>8489</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FETCH_LIST_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>APEX_NOW</name>
        <label>APEX_NOW</label>
        <locationX>1914</locationX>
        <locationY>8381</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>APEX_09</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_EM</name>
        <label>Copy 1 of EM</label>
        <locationX>1496</locationX>
        <locationY>9827</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_LOOP_FETCH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop.ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_EM</name>
        <label>Copy 2 of EM</label>
        <locationX>2288</locationX>
        <locationY>9935</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_LOOP_FETCH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop.ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_EM</name>
        <label>Copy 3 of EM</label>
        <locationX>2552</locationX>
        <locationY>9827</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_LOOP_FETCH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop.ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EA</name>
        <label>EA</label>
        <locationX>264</locationX>
        <locationY>5159</locationY>
        <actionName>Lead.Send_Matching_Account_to_Lead_Routing</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Delete_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newLoop.Status</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EA_send</name>
        <label>EA_send</label>
        <locationX>616</locationX>
        <locationY>1187</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EAM_02</name>
        <label>EA_02</label>
        <locationX>1408</locationX>
        <locationY>755</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EM</name>
        <label>EM</label>
        <locationX>1760</locationX>
        <locationY>9935</locationY>
        <actionName>Account.Notify_Owner_of_Account_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_LOOP_FETCH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop.ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_me</name>
        <label>Email_me</label>
        <locationX>1540</locationX>
        <locationY>6275</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LOOP_008</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Create_3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ACTION_1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ASSGN</name>
        <label>ASSGN</label>
        <locationX>880</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACTION_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>748</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>newLoop.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decison1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_multiple</name>
        <label>Assign_multiple</label>
        <locationX>836</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>234</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NewYork</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACTION_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_N</name>
        <label>ASSIGN_N</label>
        <locationX>176</locationX>
        <locationY>4727</locationY>
        <assignmentItems>
            <assignToReference>GET_NEW</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_NEW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newLOOP11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_NOW</name>
        <label>ASSIGN_NOW</label>
        <locationX>1408</locationX>
        <locationY>7091</locationY>
        <assignmentItems>
            <assignToReference>FETCH_LIST.ConnectedAppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LLOP.AssistantPhone</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>12</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_newFilter.Phone</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-100</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_CONTACT</assignToReference>
            <operator>RemoveBeforeFirst</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_CONT</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>SET_NOW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To</name>
        <label>Assign_To</label>
        <locationX>440</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Loop_List.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_List.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>234</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_VAR</name>
        <label>ASSIGN_VAR</label>
        <locationX>1496</locationX>
        <locationY>9719</locationY>
        <assignmentItems>
            <assignToReference>var_text_new</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_EM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CALC_LIST</name>
        <label>CALC_LIST</label>
        <locationX>1496</locationX>
        <locationY>6791</locationY>
        <assignmentItems>
            <assignToReference>currentItem_newFilter.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_008</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ASSIGN_VAR</name>
        <label>Copy 1 of ASSIGN_VAR</label>
        <locationX>1760</locationX>
        <locationY>9719</locationY>
        <assignmentItems>
            <assignToReference>var_text_new</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_ASSIGN_VAR</name>
        <label>Copy 2 of ASSIGN_VAR</label>
        <locationX>2024</locationX>
        <locationY>9719</locationY>
        <assignmentItems>
            <assignToReference>var_text_new</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_DEL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_ASSIGN_VAR</name>
        <label>Copy 3 of ASSIGN_VAR</label>
        <locationX>2288</locationX>
        <locationY>9719</locationY>
        <assignmentItems>
            <assignToReference>var_text_new</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_DEL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_NOW</name>
        <label>SET_NOW</label>
        <locationX>1408</locationX>
        <locationY>7199</locationY>
        <assignmentItems>
            <assignToReference>LLOP.CleanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Different</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_008</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection</label>
        <locationX>748</locationX>
        <locationY>2195</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>newGet</collectionReference>
        <connector>
            <targetReference>newDecison</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>DeveloperName</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>newFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>newFilter</label>
        <locationX>264</locationX>
        <locationY>3935</locationY>
        <assignNextValueToReference>currentItem_newFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FETCH</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_newFilter.Id</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>newUpdateNow</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_007</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort_007</label>
        <locationX>1584</locationX>
        <locationY>7739</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>FETCH</collectionReference>
        <connector>
            <targetReference>Loop_GET_CONT</targetReference>
        </connector>
        <limit>12</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedById</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>con_new</name>
        <dataType>Currency</dataType>
    </constants>
    <constants>
        <name>CONS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>123.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_1_of_newDecison</name>
        <label>Copy 1 of newDecison</label>
        <locationX>440</locationX>
        <locationY>3827</locationY>
        <defaultConnector>
            <targetReference>GET_NEW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_newLabel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newFilter</targetReference>
            </connector>
            <label>Copy 1 of newLabel</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC</name>
        <label>DEC</label>
        <locationX>1408</locationX>
        <locationY>10211</locationY>
        <defaultConnector>
            <targetReference>UPD_TRIG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>DEC_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>con_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>APEX_09.lon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEL_REC</targetReference>
            </connector>
            <label>DEC_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Now_ON_Acc</name>
        <label>DEC_Now_ON_Acc</label>
        <locationX>2024</locationX>
        <locationY>9611</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_DEL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>DEC_Now_ON_Acc_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ACT_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_VAR</targetReference>
            </connector>
            <label>DEC_Now_ON_Acc_1</label>
        </rules>
        <rules>
            <name>DEC_Now_ON_Acc_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>act_01</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ASSIGN_VAR</targetReference>
            </connector>
            <label>DEC_Now_ON_Acc_2</label>
        </rules>
        <rules>
            <name>DEC_Now_ON_Acc_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_1_ACT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>act_01</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_ASSIGN_VAR</targetReference>
            </connector>
            <label>DEC_Now_ON_Acc_3</label>
        </rules>
        <rules>
            <name>DEC_Now_ON_Acc_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>act_01</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_ASSIGN_VAR</targetReference>
            </connector>
            <label>DEC_Now_ON_Acc_4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide</name>
        <label>Decide</label>
        <locationX>1914</locationX>
        <locationY>7523</locationY>
        <defaultConnector>
            <targetReference>newUpdate_007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Into</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newLOOP11.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide2</targetReference>
            </connector>
            <label>Into</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide2</name>
        <label>Decide2</label>
        <locationX>1716</locationX>
        <locationY>7631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewDecide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newLOOP11.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>123</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_007</targetReference>
            </connector>
            <label>NewDecide</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_001</name>
        <label>DECISION_001</label>
        <locationX>1408</locationX>
        <locationY>6167</locationY>
        <defaultConnector>
            <targetReference>Email_me</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_outer.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_outer.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_007</targetReference>
            </connector>
            <label>Yes1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decison1</name>
        <label>Decison1</label>
        <locationX>748</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Def</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newLoop.IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FETCH</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BillingAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FETCH_LIST</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>NewOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AccountNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newDelete</targetReference>
            </connector>
            <label>NewOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISON_11</name>
        <label>DECISON_11</label>
        <locationX>792</locationX>
        <locationY>5051</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newLoop.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA</targetReference>
            </connector>
            <label>DEC1</label>
        </rules>
        <rules>
            <name>OUT_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_NEW.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>112</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create12</targetReference>
            </connector>
            <label>OUT_1</label>
        </rules>
        <rules>
            <name>OUT_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newLOOP11.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2</targetReference>
            </connector>
            <label>OUT_2</label>
        </rules>
        <rules>
            <name>Label12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_3</targetReference>
            </connector>
            <label>Label12</label>
        </rules>
    </decisions>
    <decisions>
        <name>newDecison</name>
        <label>newDecison</label>
        <locationX>748</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>newLabel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newUpdate</targetReference>
            </connector>
            <label>newLabel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORM_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!DEC_Now_ON_Acc_2}</expression>
    </formulas>
    <formulas>
        <name>form_Date</name>
        <dataType>Date</dataType>
        <expression>{!Copy_1_of_Delete_List}</expression>
    </formulas>
    <formulas>
        <name>form_Text</name>
        <dataType>String</dataType>
        <expression>{!act_01}</expression>
    </formulas>
    <interviewLabel>TestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test</label>
    <loops>
        <name>Copy_1_of_LOOP_FETCH</name>
        <label>Copy 1 of LOOP_FETCH_</label>
        <locationX>1408</locationX>
        <locationY>9503</locationY>
        <collectionReference>FETCH_LIST_01</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Now_ON_Acc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LLOP</name>
        <label>LLOP</label>
        <locationX>176</locationX>
        <locationY>5651</locationY>
        <collectionReference>GET_CONTACT</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>ACT_ION</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>newHi</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>748</locationX>
        <locationY>1787</locationY>
        <collectionReference>Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_multiple</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_008</name>
        <label>LOOP_008</label>
        <locationX>1408</locationX>
        <locationY>6467</locationY>
        <collectionReference>newVar</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>ACTion_001</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_006</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ACC</name>
        <label>Loop_ACC</label>
        <locationX>1408</locationX>
        <locationY>7415</locationY>
        <collectionReference>FETCH</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACT_09</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_CONT</name>
        <label>LOOP_CONT</label>
        <locationX>176</locationX>
        <locationY>6059</locationY>
        <collectionReference>FETCH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DECISION_001</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LOOP_FETCH</name>
        <label>LOOP_FETCH_</label>
        <locationX>1914</locationX>
        <locationY>8705</locationY>
        <collectionReference>FETCH_LIST_01</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>CREATE_REC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_GET_CONT</name>
        <label>Loop_GET_CONT</label>
        <locationX>1584</locationX>
        <locationY>7847</locationY>
        <collectionReference>GET_CONT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SUB</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>APEX_NOW</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_inner</name>
        <label>Loop_inner</label>
        <locationX>792</locationX>
        <locationY>2735</locationY>
        <collectionReference>FETCH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>newUpdate12</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACT_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_List</name>
        <label>Loop_List</label>
        <locationX>352</locationX>
        <locationY>1187</locationY>
        <collectionReference>FETCH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_NEW</name>
        <label>LOOP_NEW</label>
        <locationX>616</locationX>
        <locationY>4043</locationY>
        <collectionReference>GET_NEW</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ACT_003</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>newUpdateNow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_outer</name>
        <label>Loop_outer</label>
        <locationX>616</locationX>
        <locationY>2519</locationY>
        <collectionReference>Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>newLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>newLoop</name>
        <label>newLoop</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>newGet</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewUpadate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>newLoop1</name>
        <label>newLoop1</label>
        <locationX>176</locationX>
        <locationY>3611</locationY>
        <collectionReference>Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UPDATE_Now</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DELETE_NOW</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>newLOOP11</name>
        <label>newLOOP11</label>
        <locationX>176</locationX>
        <locationY>4835</locationY>
        <collectionReference>Get</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>SUB_Recurrence_Schedule_Flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_CONTACT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>748</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Delete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EAM_02</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>213</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create12</name>
        <label>Create_12</label>
        <locationX>528</locationX>
        <locationY>5159</locationY>
        <connector>
            <targetReference>Copy_1_of_Delete_List</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_2</name>
        <label>Create_2</label>
        <locationX>792</locationX>
        <locationY>5159</locationY>
        <connector>
            <targetReference>Copy_2_of_Delete_List</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_3</name>
        <label>Create_3</label>
        <locationX>1056</locationX>
        <locationY>5159</locationY>
        <connector>
            <targetReference>Copy_3_of_Delete_List</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_REC</name>
        <label>CREATE_REC</label>
        <locationX>2002</locationX>
        <locationY>8813</locationY>
        <connector>
            <targetReference>LOOP_FETCH</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Acc</targetReference>
        </faultConnector>
        <inputReference>Get</inputReference>
    </recordCreates>
    <recordCreates>
        <name>newCreate</name>
        <label>newCreate</label>
        <locationX>880</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>ASSGN</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_DEL</name>
        <label>Copy 1 of DEL</label>
        <locationX>2024</locationX>
        <locationY>9827</locationY>
        <connector>
            <targetReference>Copy_1_of_LOOP_FETCH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRole</object>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_1_of_Delete_List</name>
        <label>Copy 1 of Delete_List</label>
        <locationX>528</locationX>
        <locationY>5267</locationY>
        <connector>
            <targetReference>newLOOP11</targetReference>
        </connector>
        <inputReference>currentItem_newFilter</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_DEL</name>
        <label>Copy 2 of DEL</label>
        <locationX>2288</locationX>
        <locationY>9827</locationY>
        <connector>
            <targetReference>Copy_2_of_EM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRole</object>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_2_of_Delete_List</name>
        <label>Copy 2 of Delete_List</label>
        <locationX>792</locationX>
        <locationY>5267</locationY>
        <connector>
            <targetReference>newLOOP11</targetReference>
        </connector>
        <inputReference>currentItem_newFilter</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_3_of_DEL</name>
        <label>Copy 3 of DEL</label>
        <locationX>2552</locationX>
        <locationY>9719</locationY>
        <connector>
            <targetReference>Copy_3_of_EM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRole</object>
    </recordDeletes>
    <recordDeletes>
        <name>Copy_3_of_Delete_List</name>
        <label>Copy 3 of Delete_List</label>
        <locationX>1056</locationX>
        <locationY>5267</locationY>
        <connector>
            <targetReference>newLOOP11</targetReference>
        </connector>
        <inputReference>currentItem_newFilter</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DEL</name>
        <label>DEL</label>
        <locationX>1760</locationX>
        <locationY>9827</locationY>
        <connector>
            <targetReference>EM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRole</object>
    </recordDeletes>
    <recordDeletes>
        <name>DEL_REC</name>
        <label>DEL_REC</label>
        <locationX>1276</locationX>
        <locationY>10319</locationY>
        <connector>
            <targetReference>LOOP_CONT</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>748</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRichText</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ApiAnomalyEventStoreFeed</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_008</name>
        <label>Delete_008</label>
        <locationX>1408</locationX>
        <locationY>7307</locationY>
        <connector>
            <targetReference>Loop_ACC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>45</stringValue>
            </value>
        </filters>
        <object>Attachment</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_List</name>
        <label>Delete_List</label>
        <locationX>264</locationX>
        <locationY>5267</locationY>
        <connector>
            <targetReference>newLOOP11</targetReference>
        </connector>
        <inputReference>currentItem_newFilter</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DELETE_NOW</name>
        <label>DELETE_NOW</label>
        <locationX>176</locationX>
        <locationY>4619</locationY>
        <connector>
            <targetReference>ASSIGN_N</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>newDelete</name>
        <label>newDelete</label>
        <locationX>880</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>SUB_CONVERTTOCUSTOMER_1</targetReference>
        </connector>
        <inputReference>Loop_List</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FETCH</name>
        <label>FETCH</label>
        <locationX>352</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_List</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FETCH_LIST</name>
        <label>FETCH_LIST</label>
        <locationX>616</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EA_send</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApiEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FETCH_LIST_01</name>
        <label>FETCH_LIST_01</label>
        <locationX>1914</locationX>
        <locationY>8597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_FETCH</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BrandingSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get</name>
        <label>Get</label>
        <locationX>748</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CONT</name>
        <label>GET_CONT</label>
        <locationX>792</locationX>
        <locationY>3143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_outer</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BriefcaseRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CONTACT</name>
        <label>GET_CONTACT</label>
        <locationX>176</locationX>
        <locationY>5543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LLOP</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_NEW</name>
        <label>GET_NEW</label>
        <locationX>616</locationX>
        <locationY>3935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_NEW</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserEmailPreferredPersonShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>newGet</name>
        <label>newGet</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AIApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>newHi</name>
        <label>newHi</label>
        <locationX>176</locationX>
        <locationY>5951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_CONT</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserEmailPreferredPersonShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>NewUpadate</name>
        <label>NewUpadate</label>
        <locationX>176</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>newLoop1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ACT_1_ACT</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>907</stringValue>
            </value>
        </inputAssignments>
        <object>AccountCleanInfo</object>
    </recordUpdates>
    <recordUpdates>
        <name>newUpdate</name>
        <label>Update</label>
        <locationX>616</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Loop_outer</targetReference>
        </connector>
        <inputAssignments>
            <field>CountryAccessCode</field>
            <value>
                <stringValue>123</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.DandbCompany</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>newUpdate12</name>
        <label>newUpdate12</label>
        <locationX>880</locationX>
        <locationY>2843</locationY>
        <connector>
            <targetReference>Loop_inner</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>newUpdate_007</name>
        <label>newUpdate_007</label>
        <locationX>2112</locationX>
        <locationY>7631</locationY>
        <connector>
            <targetReference>APEX_NOW</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.DandbCompany.Accounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>newUpdateNow</name>
        <label>newUpdateNow</label>
        <locationX>440</locationX>
        <locationY>4427</locationY>
        <connector>
            <targetReference>newLoop1</targetReference>
        </connector>
        <inputAssignments>
            <field>IsFlaggedWrongDunsNumber</field>
            <value>
                <elementReference>ACT_1</elementReference>
            </value>
        </inputAssignments>
        <object>AccountCleanInfo</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_TRIG</name>
        <label>UPD_TRIG</label>
        <locationX>1540</locationX>
        <locationY>10319</locationY>
        <connector>
            <targetReference>LOOP_CONT</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update_</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>newLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update2</name>
        <label>Update2</label>
        <locationX>792</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Loop_inner</targetReference>
        </connector>
        <inputReference>Loop_outer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_006</name>
        <label>Update_006</label>
        <locationX>1408</locationX>
        <locationY>6983</locationY>
        <connector>
            <targetReference>ASSIGN_NOW</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingFirstName</field>
            <value>
                <stringValue>John</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.AlternativePaymentMethods</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_007</name>
        <label>Update_007</label>
        <locationX>1276</locationX>
        <locationY>6275</locationY>
        <connector>
            <targetReference>LOOP_008</targetReference>
        </connector>
        <inputReference>newHi</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acc</name>
        <label>Update_ACC</label>
        <locationX>2266</locationX>
        <locationY>8921</locationY>
        <inputAssignments>
            <field>IsFlaggedWrongAddress</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AccountCleanInfo</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List</name>
        <label>Update_List</label>
        <locationX>880</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>newCreate</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Now</name>
        <label>UPDATE__</label>
        <locationX>440</locationX>
        <locationY>3719</locationY>
        <connector>
            <targetReference>Copy_1_of_newDecison</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordUpdates>
    <stages>
        <name>STAGE</name>
        <isActive>false</isActive>
        <label>STAGE</label>
        <stageOrder>23</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>newGet</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>SUB</name>
        <label>SUB</label>
        <locationX>1672</locationX>
        <locationY>7955</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_me</targetReference>
        </connector>
        <flowName>autoL</flowName>
    </subflows>
    <subflows>
        <name>SUB_CONVERTTOCUSTOMER_1</name>
        <label>SUB_CONVERT TO CUSTOMER_1</label>
        <locationX>880</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <flowName>Convert_to_Customer</flowName>
    </subflows>
    <subflows>
        <name>SUB_Recurrence_Schedule_Flow</name>
        <label>SUB_Recurrence Schedule Flow_</label>
        <locationX>792</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>DECISON_11</targetReference>
        </connector>
        <flowName>runtime_industries_recurrence__Schdlr</flowName>
    </subflows>
    <textTemplates>
        <name>TEMP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!act_01}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_newFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIApplication</objectType>
    </variables>
    <variables>
        <name>var_coll_sObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserEmailPreferredPersonShare</objectType>
    </variables>
    <variables>
        <name>var_text_new</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
</Flow>
